.App{
  font-family: sans-serif;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-content: center;
  flex-wrap: wrap-forward;
  cursor: pointer;
 background-color:#007bff;
 background: linear-gradient(to right, #0062E6, #33AEFF)
 
}




.cointainer{
 background-color:white;
 border-radius: flex;
 width: 250px;
text-size-adjust: 200px;
cursor: pointer;
border-radius:1rem;
transition: all 0.2s;
box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
font-size: 0.9rem;
  letter-spacing: .1rem;
  
  
  

}

.card{
  border: 5px;
  border-radius: 50%;
  width: 150px;
  height: auto;
  

}


